:root {
}

.button {
    font-size: 85px;
    flex-grow: 0.5;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    margin-top: 26px;
    margin-right: 26px;
    margin-bottom: 26px;
    margin-left: 26px;
}

.button:hover {
    scale: 1.1 1.1 1.1;
}
